asgiref==3.11.0
-e file:///home/muizzyranking/Projects/asson-election
crispy-bootstrap5==2025.6
dj-database-url==3.1.0
django==6.0.1
django-crispy-forms==2.5
pillow==12.1.0
psycopg2-binary==2.9.11
sqlparse==0.5.5
